h1 {
    text-align: center;
    font-size: 40;
    font-family: 'Borel', cursive;
   
}

.sushi{
    text-align: center;
    font-size: 19px;
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    margin-top: 30px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Permanent Marker';
    
}
.background{
    background-image: url(https://i.pinimg.com/1200x/24/92/4c/24924c8c8c54c71604ca80d0cd5d7b91.jpg);
}
.udon{
   text-align: center;
  
}
h4{
    text-align: center;
    font-size: 30px;
    font-family: 'Permanent Marker';
   

}
#udoncaption{
    font-family: 'Architects Daughter', cursive;
    font-size: 19px;
    text-align: center;
    margin-top: 30px;

}
.udontext{
    text-align: center;
    padding-top: 20;
   
}
.okonomiyaki{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 19px;
    padding-top: 20;
}